@keyframes marqueeLeft {
  from {
    transform: translateX(100);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marqueeRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100);
  }
}

.animate-marquee-1 {
  animation: marqueeLeft 25s linear infinite;
  text-shadow: 0 0 20px rgba(255,255,255,0.1);
}

.animate-marquee-2 {
  animation: marqueeRight 25s linear infinite;
  text-shadow: 0 0 20px rgba(255,255,255,0.1);
}
